<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PHPUnit_TestModule>
            <version>0.0.0.1</version>
        </PHPUnit_TestModule>
    </modules>
    <phpunit>
    	<suite>
    		<modules>PHPUnit_TestModule</modules>	
    	</suite>		
    </phpunit>	
    <frontend>
    	<routers>
    		<testmodule>
    			<use>standard</use>
    			<args>
    				<module>PHPUnit_TestModule</module>
    				<frontName>testmodule</frontName>
    			</args>	
    		</testmodule>	
    	</routers>	
    </frontend>	
    <global>
    	
        <models>
            <testmodule>
                <class>PHPUnit_TestModule_Model</class>
                <resourceModel>testmodule_resource</resourceModel>
            </testmodule>
            <testmodule_resource>
                <class>PHPUnit_TestModule_Model_Resource</class>
                <entities>
                	<entry>
                		<table>phpunit_testmodule_entry</table>
                	</entry>	
                </entities>
            </testmodule_resource>
        </models>
        <helpers>
        	<testmodule>
        	    <class>PHPUnit_TestModule_Helper</class>
        	</testmodule>
        </helpers>	
        <resources>
            	<testmodule_setup>
            		<setup>
            			<module>PHPUnit_TestModule</module>	
            		</setup>	
            	</testmodule_setup>	
        </resources>	
        <blocks>
            <testmodule>
                <class>PHPUnit_TestModule_Block</class>
            </testmodule>
        </blocks>
    </global>
    <adminhtml>
    </adminhtml>
    <admin>
    </admin>
</config>